*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* line-height: calc(1em + 0.5rem); */
}

body {
  line-height: 1.5;
  /* min-height: 100vh; */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

p {
  font-family: Satoshi, sans-serif;
  font-size: 1rem;
}

a,
a.nav-link {
  text-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  font-weight: 600;
  font-family: Satoshi, sans-serif;
}

body.body-color {
  background-color: #21548b;
}

nav#navbar {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(33, 84, 139, 0.5);
}

.touch {
  padding: 0rem 1.5rem;
  background-color: orange;
}

header {
  height: 100vh;
  position: relative;
  background-color: #21548b;
}

.repeat-header {
  padding: auto;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: Chillax, sans-serif;
}

h1:first-child {
  color: white;
  font-size: 12vw;
  font-weight: 800;
}

.repeat-header .repeat-h1 {
  color: #21548b;
  -webkit-text-stroke: 4px #bd6a41;
  paint-order: stroke;
  font-size: 12vw;
  font-weight: 800;
}

#about {
  /* max-inline-size: 800px;
  margin-inline: auto; */
  height: 1000px;
  background-color: #ededed;
}
#resume {
  height: 1000px;
  background-color: orange;
}
#projects {
  height: 1000px;
  background-color: #21548b;
}

/* .contact-info {
  outline: rgba(255, 255, 255, 0.3) 1px solid;
  align-content: center;
  padding: 1rem;
  width: 300px;
  height: 180px;
  color: white;
  position: absolute;
  background-color: #21548b;
  z-index: 100;
  inset: 0;
  transform: translate(200%, 100%);
} */
